body {
    background-color: azure;
}

.restname {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



#sandwichpicture {
    width: 80%;
}

footer {
    background-color: rgb(224, 238, 238);
    color: black;
}



h5 {
    font-size: 40px;
    
}

.carouselp {
    font-size: 25px;
}

@media only screen and (min-width: 768px){
    .slideshow {
        width: 50%;
    }
}

@media only screen and (max-width: 768px) {
    h5 {
        font-size: 30px;
    }

    .carouselp {
        font-size: 15px;
    }
}





  

  
a:visited {
    color: gray;
    text-decoration: underline;
    
}
  
a:hover {
    
    text-decoration: underline;
    font-family: cursive;
    font-weight: bold;
}
  
a:active {
    font-family: monospace;
    text-decoration: none;
    
}