body {
    background-color: azure;
}

.restname {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.errors {

    color: red;

}

#sandwichpicture {
    width: 80%;
}

footer {
    background-color: rgb(224, 238, 238);
    color: black;
}



h5 {
    font-size: 50px;
    
}

.carouselp {
    font-size: 30px;
}

@media only screen and (min-width: 640px){
    .slideshow {
        width: 50%;
    }
}

#validinfo {
    color: green;
    font-size: 30px;

}

.formtext {
    font-weight: bold;
}


a {
    font-family: 'Times New Roman', Times, serif;
    
    
}
  

  
a:visited {
    color: gray;
    
}
  
a:hover {
    
    
    font-family: cursive;
    font-weight: bold;
}
  
a:active {
    font-family: monospace;
    text-decoration: none;
    
}